<div class="table-container">
  <div class="py-5"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> > Details</div>
  <div class="details">
      <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Specialties</th>
              <th>Rating</th>
              <th>Language Spoken</th>
              <th>Medical School Attended</th>
              <th>Patient Reviews</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ doctorsDetails.name }} <span *ngIf="isStar" style="color: rgb(219, 134, 7)">Superstar</span></td>
              <td nowrap>{{ (doctorsDetails.gender === 'm' ? 'Male' : 'Female') }}</td>
              <td>{{ doctorsDetails.specialties }}</td>
              <td>{{ doctorsDetails.rating }}</td>
              <td>{{ doctorsDetails.languageSpoken }}</td>
              <td>{{ doctorsDetails.medicalSchool }}</td>
              <td>{{ doctorsDetails.patientReview }}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
