<div class="table-container py-5">
  <div class="py-5"><a [routerLink]="['/home']" routerLinkActive="router-link-active" ></a> Home</div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Specialties</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of doctorsList;">
        <td><a [routerLink]="['/details', row.name]" routerLinkActive="router-link-active"  >{{ row.name }}</a></td>
        <td nowrap>{{ (row.gender === 'm') ? 'Male' : 'Female' }}</td>
        <td>{{ row.specialties }}</td>
        <td>{{ row.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>
